In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('cleanirradatio.csv')

In [5]:
import datetime
import pandas as pd
# Función para convertir días julianos a fechas
def julian_to_date(julian_day):
    base_date = datetime.datetime(1858, 11, 17)  # Fecha base para los días julianos
    delta = datetime.timedelta(days=julian_day - 2400000.5)  # Calcular el desplazamiento
    return base_date + delta
# Aplicar la función a la columna 'julian_day' y crear una nueva columna 'date'
df['date'] = df['julian_day'].apply(julian_to_date)
# Mostrar el DataFrame resultante
df

       julian_day  temperature                date
0         2442283    1361.0813 1974-08-23 12:00:00
1         2442284    1361.2541 1974-08-24 12:00:00
2         2442285    1361.0907 1974-08-25 12:00:00
3         2442286    1361.1308 1974-08-26 12:00:00
4         2442287    1361.1251 1974-08-27 12:00:00
...           ...          ...                 ...
17847     2460130    1361.7703 2023-07-04 12:00:00
17848     2460131    1361.6242 2023-07-05 12:00:00
17849     2460132    1361.5075 2023-07-06 12:00:00
17850     2460133    1361.2588 2023-07-07 12:00:00
17851     2460134    1361.1048 2023-07-08 12:00:00

[17852 rows x 3 columns]

In [ ]:
df.to_csv('irradiation.csv', index = False)